In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d={'a':10,'b':20,'c':30}

In [3]:
pd.Series(data = my_data) #calling the data points using the index

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_data,index = labels) #initializing the data points to lables

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr) #works as python lists

0    10
1    20
2    30
dtype: int32

In [7]:
pd.Series(arr,labels) # passing numpy arrays and labels

a    10
b    20
c    30
dtype: int32

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(data=labels) #can hold any type of data objects with python

0    a
1    b
2    c
dtype: object

In [11]:
pd.Series(data=[10,20,230])

0     10
1     20
2    230
dtype: int64

In [12]:
pd.Series(data=[sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [13]:
ser1 = pd.Series([1,2,3,4],['germany','india','usa','china'])

In [14]:
ser1

germany    1
india      2
usa        3
china      4
dtype: int64

In [15]:
ser2 = pd.Series([4,5,6,2],['italy','germany','russia','canada'])

In [16]:
ser2

italy      4
germany    5
russia     6
canada     2
dtype: int64

In [17]:
ser1['usa'] #getting position is like getting position in dictionaries

3

In [18]:
ser3 = pd.Series(data = labels)

In [19]:
ser3

0    a
1    b
2    c
dtype: object

In [20]:
ser3[2]

'c'

In [21]:
ser1 + ser2

canada     NaN
china      NaN
germany    6.0
india      NaN
italy      NaN
russia     NaN
usa        NaN
dtype: float64

In [22]:
# series
# labeled_index   data_point
# x                  x 
# x                  x

NameError: name 'series' is not defined