In [73]:
import numpy as np
import pandas as pd
#multilevel index

In [74]:
# index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [75]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [76]:
df

             A         B
G1 1 -0.759405  1.504576
   2  0.484922  0.044295
   3  0.202343 -0.555139
G2 1 -1.298113  2.459303
   2  0.633899  1.024538
   3 -0.757686  1.063045

In [81]:
df.loc['G1'].loc[1]

A   -0.759405
B    1.504576
Name: 1, dtype: float64

In [83]:
df.iloc[0]

A   -0.759405
B    1.504576
Name: (G1, 1), dtype: float64

In [89]:
df.index.names = 'Groups', "num"
df.index.names

FrozenList(['Groups', 'num'])

In [90]:
df.loc['G2'].loc[3]['B']

1.0630450459593868

In [91]:
df.xs('G1')

            A         B
num
1   -0.759405  1.504576
2    0.484922  0.044295
3    0.202343 -0.555139

In [106]:
df.xs(1,level='num') #to acces inner elements of multiindexed dataframes
                     # 1 to grab num=1 and then specify the level=num

               A         B
Groups
G1     -0.759405  1.504576
G2     -1.298113  2.459303